.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.for_a a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card button:hover, .for_a a:hover {
  opacity: 0.7;
}

.card img {
    border-radius: 50% 50%;
    max-height: 130px;
    max-width: 150px;
}




